* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.avatar {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}
.image {
	width: 100%;
	height: auto;
	display: block;
}
.left-side {
    font-family: Raleway;
	background-color: 	#734F96;
    padding: 40px;
    text-align: left;
}
.right-side {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    padding: 40px 40px 40px 0;
}
.row{
    width: 980px;
}
hr {
	border: 0; 
    height: 2px; 
    background-color: #fff; 
    margin: 20px 0; 
    width: 100%;
}
h2 {
	color: lavender; 
	margin-top: 15px;
    text-align: left;
    font-size: 10px;
}
h3 {
	margin-top: 10px;
	color: lavender;
    text-align: left;
}

li {
	margin-top: 8px;
	color: lavender;
    text-align: left;
}
h1 {
	text-align: left;
    background: linear-gradient(45deg, #ff0000, #0000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    text-align: left;
}
.right-side hr {
	border: 0; 
    height: 2px; 
    background-color: #88848c;
    margin-top: 15px; 
    width: 145%;
}
.right-side h1 {
	color: black;
}
.right-side h2 {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}
.right-side li {
	color:#734F96;
}
.right-side ol{
	font-size: 20px;
	width: 150%;
}
.right-side ul {
  margin-left: 40px; 
	font-size: 15px;
}
.right-side p {
	color: #734F96;
	width: 150%;
	font-size: 16px;
}
.osvita1 {
	font-size: 18px;
    margin-left: 327px;
}
.osvita2 {
	font-size: 18px;
    margin-left: 70px;
}
.course1 {
	font-size: 18px;
    margin-left: 290px;
}
.course2 {
	font-size: 18px;
    margin-left: 227px;
}
.course3 {
	font-size: 18px;
    margin-left: 355px;
}
.course4 {
	font-size: 18px;
    margin-left: 195px;
}
#education {
    margin-top: 45px;
}
