body {
    background-color: rgb(144, 140, 120);
}

.navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

@media (max-width: 991px){
    .siderbar{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
}
.food-photo img {
    width: 100%; 
    height: auto; 
}
.food-photo {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-overlay {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    z-index: 1; 
}
.food-photo::after {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}